* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 1%;
  color: black;
}

.nav {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  margin: 0px;
  padding: 0px;
  background-color: #ee586f;
  height: auto;
  font-family: arial;
  color: white;
}

li:hover {
  background-color: #fa899b;
}

.focus {
  background-color: #fabbc5;
}
.focus:hover {
  background-color: #fabbc5;
}
